* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    background: #f3f1ed;
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
}

/* Pantalla diseñada para celular */
.pantalla {
    position: relative;
    width: 390px;
    height: 844px;
    overflow: hidden;
}

/* Imagen completa de Canva */
.fondo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

/* Campo REAL */
.campo-nombre {
    position: absolute;

    left: 78px;
    top: 474px;

    width: 234px;
    height: 48px;

    border: none;
    outline: none;

    background: transparent;

    color: #8f7f63;
    font-family: Arial, sans-serif;
    font-size: 17px;

    text-align: center;
}

/* Botón REAL transparente sobre el botón de Canva */
.boton-buscar {
    position: absolute;

    left: 110px;
    top: 548px;

    width: 170px;
    height: 52px;

    border: none;
    background: transparent;

    cursor: pointer;
}